---
---

@import "{{ site.theme }}";


a:hover {
  font-weight: normal;
  text-decoration: underline;
}

.run-example {
  margin-top: 8px;
  margin-bottom: 8px;

}
code.language-coffee {
  display: block;
  width: 100%;
}
pre .hint {
  font-family: sans-serif;
  font-size: 14px;
  white-space: pre-line;
}
code.console {
  display: block;
  white-space: pre-wrap;
}
